* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.clicker {
  width: 60px;
  margin: 20px;
  margin-left: 60px;
  background: #c3fad3;
  border: 1px solid #999;
  border-radius: 10%;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
  min-width: 183px;
}

.board {
  position: relative;
  width: 177px;
  opacity: 100%;
}

.strike-first-column {
  background-color: #000000;
  width: 5px;
  height: 160px;
  position: absolute;
  top: 8px;
  left: 28px;
  z-index: 10;
}

.strike-second-column {
  background-color: #000000;
  width: 5px;
  height: 160px;
  position: absolute;
  top: 8px;
  left: 87px;
  z-index: 10;
}

.strike-third-column {
  background-color: #000000;
  width: 5px;
  height: 160px;
  position: absolute;
  top: 8px;
  left: 146px;
  z-index: 10;
}

.strike-first-row {
  background-color: #000000;
  width: 160px;
  height: 5px;
  position: absolute;
  top: 28px;
  left: 8px;
  z-index: 10;
}

.strike-second-row {
  background-color: #000000;
  width: 160px;
  height: 5px;
  position: absolute;
  top: 87px;
  left: 8px;
  z-index: 10;
}

.strike-third-row {
  background-color: #000000;
  width: 160px;
  height: 5px;
  position: absolute;
  top: 146px;
  left: 8px;
  z-index: 10;
}

.strike-first-diagonal {
  background-color: #000000;
  width: 230px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 8px;
  z-index: 10;
  transform: rotate(45deg);
  transform-origin: top left;
}

.strike-second-diagonal {
  background-color: #000000;
  width: 230px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 173px;
  z-index: 10;
  transform: rotate(135deg);
  transform-origin: top left;
}

.label {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}